body {
  font-family: Arial, sans-serif;
  background-color: #d9a2e7;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: #870fa8;
  margin-bottom: 20px;
  font-size: 2.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 1vw;
  font-size: 1em;
}

button {
  padding: 10px;
  background-color: #c14ae2;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 1vw;
}

button:hover {
  background-color: #581770;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0;
}

li {
  background: #e7b6f9d3;
  border: 1px solid #d92eff;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  border-radius: 1vw;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 2em;
  }

  input {
    padding: 8px;
  }

  button {
    padding: 8px;
    font-size: 0.9em;
  }

  li {
    padding: 8px;
  }
}
